@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap');

#contenitoreDiTutto{
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    height: 100vh;
}
img{
    height: 4vh;
    margin: 40px 0px 0px 40px
}
#timer{
    display: flex;
    justify-content: end;
    color: white;
    font-size: 3em;
    margin-bottom: 200px;
    margin-right: 100px;
    
}
#contenitoreDomanda{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    margin-bottom: 40px;
    font-family: 'Outfit', sans-serif;

}
#contenitoreRisposte{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 400px;

    
}
.risposte{

    color: white;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px 45px;
    border: 1px solid white ;
    border-radius: 20px;
    background-color: rgba(114, 112, 112, 0.301);
    margin: 10px;
    font-family: 'Inter', sans-serif;
    
  
    
}
.risposte:hover{
    background: linear-gradient(to bottom, #d20094, #900080); 
    
}   
#numeroDomande{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    letter-spacing: 0.2em;
    font-family: 'Inter', sans-serif;

}
#domandeRimaste {
    color: #AD0186;
    font-size: 16px;
    
    
    
}