@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap');

#contenitoreDiTutto{
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    font-family: 'Outfit', sans-serif;
}

img{
    height: 5vh;
    margin: 40px 0px 0px 40px;
}

#timer{
    display: flex;
    justify-content: end;
    color: white;
    font-size: 3em;
    margin-bottom: 100px;
    margin-right: 100px;
}

#contenitoreDomanda{
    color: white;
    font-size: 48px;
    margin-bottom: 40px;
    text-align: center;
}

#contenitoreDomanda .seconda-parte {
    display: block;
    color: white;
    font-size: 60px;
    font-weight: bold;
}

#contenitoreRisposte{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.risposte-1 {
    margin-right: 30px;
}

.risposte-2 {
    margin-left: 30px;
}

.risposte{
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    padding: 18px 120px;
    border: 1px solid white ;
    border-radius: 25px;
    background-color: rgba(114, 112, 112, 0.301);
    margin: 10px;
    font-family: 'Inter', sans-serif;
}

.risposte:hover{
    background: linear-gradient(to bottom, #d20094, #900080);
}   

#numeroDomande{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    letter-spacing: 0.2em;
    font-family: 'Inter', sans-serif;
}

#domandeRimaste {
    color: #AD0186;
    font-size: 16px;
}