@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');



#sfondo {
    background-image: url(../assets/bg.jpg);
    background-size: 100%;
}
#logo img{
    width: 200px;
    margin: 80px
}
.title {
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
    color: #00FFFF;
    margin-left: 80px;
}
.yourExam {
    display: block;
    font-size: 60px;
    font-weight: bolder;
}
.introduzione {
    font-size: 16px;
    color: #D20094;
    

}